.idea
target
sbt-dist
sbt
sbt.bat
*.iml
checkpoints
checkpoint

credential.helper=osxkeychain
user.name=Marek Barak
user.email=mrk.barak@gmail.com, marek.barak@ideata.eu
user.name=Your name
core.repositoryformatversion=0
core.filemode=true
core.bare=false
core.logallrefupdates=true
core.ignorecase=true
core.precomposeunicode=true
remote.origin.url=https://github.com/n1o/scala-ml-algorithms.git
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*
branch.master.remote=origin
branch.master.merge=refs/heads/master